
.open-sans-new-file {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color: rgb(245, 248,255);
}

.main-test , section{
    padding: 130px 0px 130px 0px;
}

/* Header Section Start */
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 0px;
    align-items: center;

}
.my-header{
    background-image: url('../img/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.titel-header{
    font-size: 49px;
    color: rgb(78, 71 ,255);
}
.singup-btn{
    font-size: 24px;
    padding: 10px 26px;
    background-color: rgb(78, 71 ,255);
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.70s;
}
.singup-btn:hover{
   background-color: aquamarine;
}
.dicption-text{
    text-align: center;

}
.main-text-header{
    font-size: 50px;
    padding: 100px 350px 50px;
}

/* Header End */

/* action-section */

.action-section{
    max-width: 1140px;
    margin: 0 auto;
}
.all-text{
    display: flex;
    justify-content: space-between;
}
.second-img{
    border-radius: 15px;
}
.letar{
    padding-top: 30px;
}
.titel{
    font-size: 40px;
}
.dicption{
    font-size: 21px;
    font-weight: 400;
    color: rgb(117, 116, 116);
    margin-top: -5px;
}

/* producativ-user */
.producativ-user{
    /* margin-top: 120px; */
    max-width: 1140px;
    background-color: rgb(229, 231,255);
    margin: 0 auto;
    border-radius: 15px;
    padding: 35px;
}
.claculate{
    display: flex;
    justify-content: space-around;
}
.tag-for-nam{
    padding-top: 25px;
   text-align: center;
   font-size: 40px;
   color: rgb(57, 56, 56);
}

.user{
    font-size: 59px;
    color: #4E47FF;
}
.subtitel{
    font-size: 20px;
    font-weight: 400;
    color: rgb(120, 120, 120);
    margin-top: -50px;
}

