.open-sans-new-file {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: rgb(245, 248, 255);
}

/* All Section Padding Top Buttom Gap */
.souch,
.focus,
.feedback,
.producativ-user,
.action-section {
    padding: 130px 0px 100px 0px;
}


/* Header Section Start */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 0px;
    align-items: center;

}

.my-header {
    background-image: url('../img/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.titel-header {
    font-size: 48px;
    color: #FD6E0A;
}

.singup-btn {
    font-size: 23px;
    padding: 10px 26px;
    background-color: #FD6E0A;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 7px;
    transition: 0.80s;
}

.singup-btn:hover {
    background-color: rgb(78, 71, 255);
    font-size: 27px;
    border-radius: 10px;
}

.dicption-text {
    text-align: center;

}

.cont {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 150px 0;

}

.main-text-header {
    font-size: 50px;
    gap: 20px;
}

/* Header End */

/* action-section */

.action-section {
    max-width: 1140px;
    margin: 0 auto;
}

.all-text {
    display: flex;
    justify-content: space-between;
}

.second-img {
    border-radius: 15px;
    width: 50%;
}

.letar {
    padding-top: 30px;
}

.titel2 {
    font-size: 40px;
}

.dicption {
    font-size: 21px;
    font-weight: 400;
    color: rgb(117, 116, 116);
    margin-top: -5px;
}

/* producativ-user */
.producativ-user {
    max-width: 1140px;
    background-color: rgb(229, 231, 255);
    margin: 0 auto;
    border-radius: 15px;
    padding: 5px;
}

.claculate {
    display: flex;
    justify-content: space-around;
}

.tag-for-nam {
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
    color: rgb(57, 56, 56);
}

.user {
    font-size: 55px;
    color: #4E47FF;
}

.subtitel {
    font-size: 20px;
    font-weight: 400;
    color: rgb(120, 120, 120);
    margin-top: -50px;
}

/* feedback */
.feedback {
    max-width: 1140px;
    margin: 0 auto;
}

.feedback-titel {
    text-align: center;
    font-size: 36px;
    color: rgb(56, 56, 56);
}

.section-had {
    display: flex;
    gap: 20px;
    margin-top: 45px;
}

.card-sec {
    padding: 25px;
    box-shadow: 0px 6px 50px 0px rgb(222, 222, 222);
    border: 1px solid rgb(223, 222, 222);
    border-radius: 15px;
}

.main-t {
    font-size: 22px;
    font-weight: bold;
}

.sub-te {
    margin-top: -19px;
    font-size: 18px;
    color: rgb(117, 116, 116);
}


.revivew {
    display: flex;
    gap: 10px;
}

.rewew-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 35px;

}

.tel {
    font-size: 18px;
    font-weight: 500;
    color: rgb(87, 87, 87);
}

.review-dc {
    font-size: 16px;
    margin-top: -22px;
    color: rgb(135, 135, 135);
}

/* travel book section  */
.focus {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0px 6px 50px 0px rgb(222, 222, 222);
}

.titel4 {
    font-size: 36px;
    color: rgb(60, 60, 60);
}

.su-titele {
    font-size: 20px;
    color: rgb(135, 135, 135);
}

.focus-section {
    border-radius: 15px;
    margin-top: 40px;
    width: 100%;
    height: 550px;
    object-fit: cover;
}

/* Form */

.souch {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

input[type="email"],
input[type="text"] {
    height: 35px;
    border-radius: 6px;
    background-color: white;
    display: block;
    width: 400px;
    padding: 10px 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    font-size: 16px;
}

label {
    font-size: 18px;
    color: black;
    font-weight: 500;
}

textarea {
    margin-top: 10px;
    display: block;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.form-btn {
    font-size: 20px;
    padding: 10px 26px;
    background-color: #FD6E0A;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.70s;
    width: 100%;
    margin-top: 30px;
    transition: 0.80s;
}

.form-btn:hover {
    background-color: rgb(78, 71, 255);
    border-radius: 6px;
    font-size: 25px;

}

.souch-titel {
    font-size: 65px;
    padding: 35px;
}

/* Footer */

.footer-section {
    background-color: #FFFFFF;
}

.all-foter {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 100px 30px 100px;
}

.titel {
    font-size: 50px;
    color: #FD6E0A;
}

.dicption-footer {
    color: rgb(135, 135, 135);
    font-size: 18px;
    margin-top: -20px;
}

ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

ul a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

ul li a {
    font-size: 20px;
    color: #fc9f5d;
    margin-top: 16px;
}